In [30]:
import pandas as pd

In [31]:
#load datasets
teams1 = pd.read_csv('Teams.csv')
parks = pd.read_csv('Parks.csv')
parks1 = pd.read_csv('Parks1.csv')
teams1

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2980,2021,NL,SLN,STL,C,2,162,81.0,90,72,...,137,0.986,St. Louis Cardinals,Busch Stadium III,2102530.0,92,92,STL,SLN,SLN
2981,2021,AL,TBA,TBD,E,1,162,81.0,100,62,...,130,0.986,Tampa Bay Rays,Tropicana Field,761072.0,92,91,TBR,TBA,TBA
2982,2021,AL,TEX,TEX,W,5,162,81.0,60,102,...,146,0.986,Texas Rangers,Globe Life Field,2110258.0,99,101,TEX,TEX,TEX
2983,2021,AL,TOR,TOR,E,4,162,80.0,91,71,...,122,0.984,Toronto Blue Jays,Sahlen Field,805901.0,102,101,TOR,TOR,TOR
2984,2021,NL,WAS,WSN,E,5,162,81.0,65,97,...,116,0.983,Washington Nationals,Nationals Park,1465543.0,95,96,WSN,MON,WAS

In [32]:
#only select columns of interest
#park_state = parks[['park.name', 'state']].rename(columns = {'park.name': 'park'})

In [33]:
#ps = park_state.set_index('park')
#state_dict = ps['state'].to_dict()

In [34]:
#teams1['state'] = teams1['park'].map(state_dict)

In [35]:
#teams1

In [36]:
parks1[['NAME', 'STATE', 'Longitude', 'Latitude']]

                                    NAME STATE   Longitude   Latitude
0                         Riverside Park    NY  -73.745198  42.642295
1                          Columbia Park    PA  -78.411164  40.494582
2               Angel Stadium of Anaheim    CA -117.882685  33.800290
3                      Arlington Stadium    TX  -97.084778  32.755974
4                        Globe Life Park    TX  -97.082546  32.751164
..                                   ...   ...         ...        ...
250                         Bowman Field    PA  -77.047067  41.242347
251     West New York Field Club Grounds    NJ  -74.019648  40.772796
252   Agricultural County Fair Grounds I    MA  -71.814226  42.268844
253  Agricultural County Fair Grounds II    MA  -71.814226  42.268844
254       Worcester Driving Park Grounds    MA  -71.812404  42.268721

[255 rows x 4 columns]

In [37]:
park_state = parks1[['NAME', 'STATE']].rename(columns = {'NAME': 'park'}).set_index('park')
park_lon = parks1[['NAME', 'Longitude']].rename(columns = {'NAME': 'park'}).set_index('park')
park_lat = parks1[['NAME', 'Latitude']].rename(columns = {'NAME': 'park'}).set_index('park')

In [38]:
state_dict = park_state['STATE'].to_dict()
lon_dict = park_lon['Longitude'].to_dict()
lat_dict = park_lat['Latitude'].to_dict()

In [39]:
teams1['state'] = teams1['park'].map(state_dict)
teams1['longitude'] = teams1['park'].map(lon_dict)
teams1['latitude'] = teams1['park'].map(lat_dict)

In [40]:
teams1.to_csv('../teams1.csv', index=False)